/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

img {
    border-radius: 5px;
    border-color: #000;
    height: auto;
}

/* Estilos del encabezado */
#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    background: #0d6d07;
    box-shadow: 0 0 8px #333;
}

#header .content-container {
    background: #d16010ad;
    padding: 0.5em 1em;
    color: #fff;
    text-align: center;
    font-size: 15px;
    margin: 0; 
}

#header .content-container a {
    color: #fff;
    text-decoration: none;
    transition: color 0.25s;
}

#header .content-container a:hover {
    color: #ccc;
}

#header .container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}

#header .container-header #logo {
    height: 60px;
}

nav {
    margin-top: 20px;
    text-align: center;
    float: inline-end;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0; 
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
    padding: 5px 10px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #aaa7a7;
}

/* Estilos del contenedor principal */
.container {
    max-width: 90%;
    margin: 0 auto; 
    padding: 10px;
}

main {
    padding-top: 70px; 
}

.main-content {
    background: #fff;
    padding-top: 20px;
    margin-top: 150px;
}

.main-content h1 {
    text-align: center;
}

.main-content #inicio img {
    width: 100%;
    height: auto;
    display: block;
    margin: 20px 0;
}

/* Estilos de la grilla */
.grid-flores {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

.producto {
    background: #f4f4f4;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
}

.producto img {
    width: 100%;
    height: auto;
    display: block;
}

.producto a {
    text-decoration: none;
    color: inherit;

}

.producto p {
    padding: 10px;
    font-weight: bold;
}

.producto:hover  {
    color: #0d6d07;
    transition: all 0.7s;
    transform: scale(1.07);
}

.lista-flores {
    list-style-type: none;
    padding: 0;
    margin: 0; 
}

.lista-flores li {
    background: #f4f4f4;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

.lista-flores a {
    text-decoration: none;
    color: inherit;
    transition: color 0.25s;
}

.lista-flores a:hover {
    color: #333;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas iguales */
    gap: 10px; /* Espacio entre las imágenes, puedes ajustar según lo que prefieras */
}

.image-container img {
    width: 100%;
    height: auto;
}

/* Estilos del footer */
footer {
    background: #0d6d07;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
}
footer .container .contacto {
    background-color:#0d6d07; 
    color: #fff; 
    text-align: center;
    padding: 20px 0; 
    position: relative; 
    width: 100%; 
    bottom: 0; 
}

.footer-content {
    max-width: 900px; 
    margin: 0 auto; 
}

.footer-content p a {
    color: #fff;
    text-decoration: none;
}

.footer-content p a:hover {
    color: #ccc;
    text-decoration: underline;
}

/* Estilo para el formulario */
form {
    display: grid;
    gap: 10px;
    margin: 20px 0;
}

label {
    font-weight: bold;
}

input, select, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #0d6d07;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0b5e04;
}

/* Estilo para tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}
