body {
    background-color: #C3E4C7;
    color: #333333;
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0;
}

.header-section {
    background-color: #F7F7F7;
    color: #333333;
    text-align: center;
    padding: 1em;
    border-bottom: 2px solid #9ACD32;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 5em auto 0;
    transition: transform 0.3s ease;
}

.header-section:hover {
    transform: scale(1.05);
}

.content {
    padding: 2em;
    max-width: 800px;
    margin: 2em auto;
    text-align: center;
}

.content p {
    transition: transform 0.3s ease;
}

.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: -2em auto 0;
}

.carousel-images {
    display: flex;
    width: 100%;
    animation: scroll 10s linear infinite;
}

.flower-image-detail {
    width: 100%;
    max-width: 300px; 
    height: auto;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    object-fit: cover; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.flower-image-detail:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.best-sellers {
    background-color: #ffffff;
    color: #333333;
    padding: 2em;
    text-align: center;
    margin: 2em auto;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.best-sellers-content {
    max-width: 600px;
}

.best-sellers h2 {
    margin-top: 0;
    color: #9ACD32;
}

.best-sellers ul {
    list-style-type: none;
    padding: 0;
}

.best-sellers {
    background-color: #ffffff;
    color: #333333;
    padding: 2em;
    text-align: center;
    margin: 2em auto;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.best-sellers-content {
    max-width: 600px;
}

.best-sellers h2 {
    margin-top: 0;
    color: #4f7404;
}

.best-sellers ul {
    list-style-type: none;
    padding: 0;
}

.best-sellers li {
    font-size: 1.2em;
    margin: 0.5em 0;
}

.decorative-image-left,
.decorative-image-right {
    flex: 1;
}

.decorative-image {
    width: 100%;
    max-width: 250px; 
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    object-fit: cover;
    transition: transform 0.3s ease;
}

.decorative-image:hover {
    transform: scale(1.05);
}

.testimonials {
    background-color: #ffffff;
    color: #333333;
    padding: 2em;
    text-align: center;
    margin: 2em auto;
    max-width: 1000px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.testimonials h2 {
    margin-top: 0;
    color: #4f7404;
}

.testimonial {
    background-color: #F7F7F7;
    border: 2px solid #9ACD32;
    border-radius: 8px;
    padding: 1em;
    margin: 1em auto;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.testimonial:hover {
    background-color: #e1f1e1;
    transform: scale(1.02);
}

.testimonial p {
    margin: 0.5em 0;
}

.testimonial .author {
    font-weight: bold;
    color: #4f7404;
}

.contact-section {
    background: linear-gradient(to right, #f7f7f7, #e0f7fa);
    color: #333333;
    text-align: center;
    padding: 1.5em 2em;
    margin: 0;
    max-width: 500px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    position: fixed;
    bottom: 10px; 
    left: 10px; 
    transition: transform 0.3s ease;
    z-index: 1000;
    border: 3px solid #9ACD32;
    background-image: url('https://www.transparenttextures.com/patterns/45-degree-fabric.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.contact-section:hover {
    transform: scale(1.05); 
}

.contact-section h2 {
    margin: 0;
    color: #4f7404;
    font-size: 2em;
    font-weight: 700;
    position: relative;
    z-index: 2;
}

.contact-section p {
    font-size: 1em;
    margin: 0.5em 0;
    position: relative;
    z-index: 2;
}

.contact-button {
    margin-top: 0em;
    text-align: center;
    position: relative;
    z-index: 2;
}

.contact-button button {
    margin-bottom: 1.5em; 
    padding: 10px 20px;
    background-color: #4f7404; 
    color: white; 
    border: #4f7404;
    text-decoration: none; 
    font-size: 1em; 
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: center; 
}

.contact-button button:hover {
    background-color: #9ACD32;
}


.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh; 
    padding: 2em;
}


.pedido-table {
    width: 100%;
    max-width: 800px;
    border-collapse: collapse;
    background: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.pedido-table th,
.pedido-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}


.pedido-table th {
    background-color: #4f7404;
    color: white;
}


.pedido-table tr:hover {
    background-color: #f5f5f5;
}


.empty-message {
    text-align: center;
    color: #999;
    font-style: italic;
}


.formulario-body {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    background: #ffffff; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    width: 100vw; 
}

.formulario-section {
    background: linear-gradient(to right, #f7f7f7, #e0f7fa);
    color: #333333;
    text-align: center;
    padding: 2em;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px; 
    border: 2px solid #9ACD32;
    background-image: url('https://www.transparenttextures.com/patterns/45-degree-fabric.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.formulario-section h2 {
    margin: 1;
    color: #4f7404;
    font-size: 2em;
    font-weight: 700;
}

.formulario-section form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formulario-section label {
    font-weight: bold;
}


.formulario-section input,
.formulario-section select,
.formulario-section textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.formulario-section button {
    margin-bottom: 0em; 
    padding: 10px 20px;
    background-color: #4f7404; 
    color: white; 
    border: #4f7404;
    text-decoration: none; 
    font-size: 1em;
    font-weight: bold; 
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: center; 
}

.formulario-section button:hover {
    background-color: #7cbf29; 
}



.back-link {
    margin-top: 0em;
    margin-bottom: 0em; 
    padding: 10px 20px;
    background-color: #4f7404; 
    color: white; 
    border: #4f7404;
    text-decoration: none; 
    font-size: 1em; 
    font-weight: bold; 
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: center; 
}

.back-link:hover {
    background-color: #7cbf29; 
}

.orders-button {
    margin-top: -1em;
    text-align: center;
    position: relative;
    z-index: 2;
}

.orders-button button {
    margin-bottom: -1em; 
    padding: 10px 20px;
    background-color: #4f7404; 
    color: white; /
    border: #4f7404;
    text-decoration: none; 
    font-size: 1em; 
    font-weight: bold; 
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: center; 
}

.orders-button button:hover {
    background-color: #7cbf29;
}

.clear-pedidos{
    margin-bottom: -1em; 
    padding: 10px 20px;
    background-color: #4f7404; 
    color: white; 
    border: #4f7404;
    text-decoration: none; 
    font-size: 1em; 
    font-weight: bold; 
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.clear-pedidos:hover {
    background-color: #7cbf29;
}