@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff url(/img/background.webp) no-repeat fixed center center / cover;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}
.container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    background: rgba(0, 75, 88, 0.8);
    font-size: 20px;
    p {
        padding: 0 10px;
    }
    section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}
a {
    width: 91%;
    text-decoration: none;
    color: #006179;
}
img {
    width: 400px;
    height: 400px;
}